body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-image: url("https://cdn-icons-png.freepik.com/512/6729/6729699.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(233, 228, 228, 0.5);
    text-align: center;
}
.result {
    margin-top: 20px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

